.firstq{
 
    width:1000px; /* фиксированная ширина в 800 пикселей*/
margin:0 auto; /* ровняем по центру - по горизонтали */
text-align:center; /*контент по левому краю, анулируем tex-align:center; в Body*/
 

}
